@mixin icon($iconurl) {
    background-image: url($iconurl);
    background-repeat: no-repeat;
    padding-left: 25px;
}

@mixin megamenu-visible() {
    visibility: visible !important;
    z-index: 999999999;
    opacity: 1;
    transition: opacity 0s 0.4s;
}