@charset "UTF-8";

@import 'mixins';

@import 'base-styles';

#dul-masthead-dul-megamenu {

    // MEDIA QUERIES

    @media (max-width: 450px) {

        .dul-masthead-region-myaccount {
            margin-right: -10px !important;
            padding-right: 0 !important;
        }

    }


    @media (max-width: 812px) {

        .dul-masthead-region-myaccount {
            margin-right: -30px;
        }

        #dul-masthead-dul-megamenu {
            height: 115px  !important;
        }

        .dul-masthead-mastSearch {
            display: none;
            visibility: hidden;
        }

        button#dul-masthead-nav-trigger-btn {
          display: block;
          border: 0px;
          clear: both;
          float: left;
          background: transparent;
          color: white;
          font-size: 19px;
          margin-top: 5px;
          margin-left: 14px;
          cursor: pointer;
          &:hover {
            color: #ddd;
          }
          &[aria-expanded=true] {
            color: #a1b70d;
          }
        }

        .dul-masthead-mobile-menu {
            position: absolute;
            margin: 0;
            margin-top: 105px;
            padding: 0;
            top: auto;
            z-index: 9999999;
            border: 1px solid #999;
            background-color: #FFF;
            a {
                color: #0062A0;
                text-decoration: none;
                padding: 10px;
                display: block;
                font-size: 16px;
                font-weight: bold;
                min-width: 200px;
                &:hover {
                  color: #6c7b09; 
                  background: #fafafa;
                }
            }

            li {
                padding: 0;
            }

            &:not([hidden]) {
              display: block;
            }
        }

        .dul-masthead-megamenu_container {


            .dul-masthead-dropdown_fullwidth {
                display: none;
            }

            ul:hover li.dul-masthead-mega_toplevel {
                display: block !important;
            }

            .dul-masthead-mega_toplevel {
                //display: none !important;
                color: #000;
                background: #FFF;
                padding: 8px 10px;
                list-style-type: none;
            }

            .dul-masthead-megamenu {
                display: none;
            }

        }

        #dul-masthead-mobile-menu[hidden] {
            display: none;
        }

        #dul-masthead-account-hours, #dul-masthead-website-search-link, #dul-masthead-myAccounts, #dul-masthead-ask-librarian-link {
            text-align: left;
            display: block;
        }

    }

    @media (min-width: 813px) {
        .dul-masthead-mobile-menu {
          display: none;
        }

        img#dul-masthead-logo {
            max-width: 159px;
        }

    }

    @media (max-width: 860px) {
        input[type=text] {
            width: 125px;
            height: 24px;
            padding-bottom: 4px;
            padding-left: 5px;
            padding-right: 6px;
            padding-top: 4px;
            vertical-align: bottom;
            transition:width 1s;
            -webkit-transition:width 1s; /* Safari */
            transition-timing-function: ease;
            -webkit-transition-timing-function: ease;
            }
        input[type=text]:focus {
            // border: 1px solid #1D9CC7;
            width: 175px;
            }
    }

    @media (min-width: 831px) {
        input[type=text] {
            width: 125px;
            height: 24px;
            padding-bottom: 4px;
            padding-left: 5px;
            padding-right: 6px;
            padding-top: 4px;
            vertical-align: bottom;
            transition:width 1s;
            -webkit-transition:width 1s; /* Safari */
            transition-timing-function: ease;
            -webkit-transition-timing-function: ease;
            }
        input[type=text]:focus {
            /* border: 1px solid #1D9CC7; */
            width: 175px;
            }


    }

    @media (min-width: 813px) and (max-width: 979px) {
        /* TODO: MIXIN THIS? */
        .dul-masthead-no-touch {

            ul li.dul-masthead-mega_toplevel div.dul-masthead-dropdown_fullwidth {
                @include megamenu-hidden();
            }

            ul li.dul-masthead-mega_toplevel div.dul-masthead-dropdown_fullwidth div.dul-masthead-menu-items {
                @include megamenu-items-hidden();
            }


            ul li.dul-masthead-mega_toplevel:hover {
                background-color: rgb(161, 183, 13);
                cursor: pointer;
                border-top: 4px solid #6c7b09;
                margin-top: -4px !important;
                
                & > a {
                  color: #222;
                }

                div.dul-masthead-dropdown_fullwidth {
                    @include megamenu-visible();
                    cursor: default;
                }

                div.dul-masthead-dropdown_fullwidth div.dul-masthead-menu-items {
                    @include megamenu-items-visible();
                }
            }
        }

        .dul-masthead-megamenu_container {

            .dul-masthead-moreLink {
                padding-left: 10px !important;
            }

            .dul-masthead-megamenu_button a {
                display: none;
            }

            ul {
                padding: 0 15px 0 0;
                text-align: left;
                display: inline;
                li {
                  display: inline-block !important;
                  margin: 3px 0 0 0;
                  padding: 3px 9px 4px 9px;
                  font-size: 12px;
                }
            }
        }

        #dul-masthead-account-hours, #dul-masthead-website-search-link {
            display: none;
        }

        .dul-masthead-megamenu_container {

            ul .dul-masthead-mega_toplevel {
                a {
                    text-decoration: none;
                    color: #FFF;
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            div.dul-masthead-dropdown_fullwidth {
                visibility: hidden;
                -webkit-transition: 0 visibility;
                visibility: hidden;
                position: absolute !important;
                top: auto;
                right: 0;
                margin-top: 1px;
                background-color: #FFF;
                border: 1px solid #999;
                color: #000;
                padding: 0;
                max-height: 1px;

                a {
                    color: #0062A0;
                    font-size: 15px;
                    font-weight: 400;
                    &:hover {
                      color: #6c7b09;
                    }
                }

                ul {
                    display: block;
                    padding-left:0;
                    li {
                        display: block !important;
                        font-size: 13px;
                        padding-top: 10px;
                    }

            }
        }


        }

    }

    @media (min-width: 980px) {
        @import 'max-width';
    }

}
